# Q1

In [2]:
my_name= 'molly'
print (my_name)

molly

# Q2

In [3]:
my_id= 12345
print (my_id)

12345

# Q3

In [5]:
my_id_str= '12345'
print (my_id_str)

12345

# Q4

##### No, because my_name is a string and my_id is a number.

# Q5

In [10]:
print (my_name + my_id_str)

molly12345

##### Yes, you can add them because they are both strings.

# Q6

In [12]:
print ('hello, world. This is my first python string.'.split('.'))

['hello, world', ' This is my first python string', '']

# Q7

In [16]:
str_list = ['a','b','c','e','d']
str_list.sort()
print (str_list)

['a', 'b', 'c', 'd', 'e']

##### Yes, this list can be sorted into alphabetical order.

# Q8

In [23]:
str_list.append ('f')
print (str_list)

['a', 'b', 'c', 'd', 'e', 'f']

# Q9

In [24]:
str_list.remove ('d')
print (str_list)

['a', 'b', 'c', 'e', 'f']

# Q10

In [25]:
print (str_list[2])

c

# Q11

In [28]:
num_list = [12,32,43,35]
print (str_list + num_list)

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

##### Yes, you can add them together.

# Q12

In [34]:
my_dict = {'name':'molly',
           'id':1234}
print (my_dict)

{'name': 'molly', 'id': 1234}

# Q13

In [35]:
my_dict['name']= 'bruce'
print (my_dict)

{'name': 'bruce', 'id': 1234}

# Q14

In [36]:
print (my_dict['id'])

1234

# Q15

In [37]:
my_dict['id']=4321
print (my_dict)

{'name': 'bruce', 'id': 4321}

# Q16

In [38]:
my_dict ['num_list']= num_list
print (my_dict)

{'name': 'bruce', 'id': 4321, 'num_list': [12, 32, 43, 35]}

##### It created a new key.